.menu{
    list-style-type: none;
    color: white;
    font-size: 18px;
    float: right;
    margin: 0;
    padding: 0;
   

    
   
}
.header{
    background-color: blueviolet;
    margin: auto;
    width: 80%;
    overflow: hidden;
    padding: 15px;
}
.logo{
    color: white;
    font-size: 18px;
    float: left;
}
li{
   display: inline-block; 
   
}
a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 700px){
    .header{
        background: rgb(46, 0, 252);
    }


}
@media screen and (max-width: 500px){
    .header{
        background-color: gray;
    }
}